In [182]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
data = pd.read_csv('../data/adult.data.csv')

In [4]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [39]:
ages_bog = round(data[data['salary']=='>50K']['age'].mean())
std_bog = round(data[data['salary']=='>50K']['age'].std(),1)
ages_bed = round(data[data['salary']=='<=50K']['age'].mean())
std_bed = round(data[data['salary']=='<=50K']['age'].std(),1)
print('Средний возраст и среднеквадратичное отклонения богатых: {0} +- {1}\nСредний возраст и среднеквадратичное отклонения бедных: {2} +- {3}'.format(ages_bog,std_bog,ages_bed,std_bed))

Средний возраст и среднеквадратичное отклонения богатых: 44.0 +- 10.5
Средний возраст и среднеквадратичное отклонения бедных: 37.0 +- 14.0

In [76]:
for race1, sub_df in data.groupby(['race','sex']):
    print(race1)
    print(sub_df['age'].max())

In [77]:
for (race1,sex1),sub_df in data.groupby(['race','sex']):
    print(race1,sex1)
    print(sub_df['age'].max())

In [93]:
data.groupby(['race','sex'])['age'].agg(np.max)

In [113]:
data[(data['sex']=='Male')&(data['salary']==">50K")]['marital-status'].value_counts(normalize=True)

Married-civ-spouse       0.891324
Never-married            0.048784
Divorced                 0.042630
Separated                0.007355
Widowed                  0.005854
Married-spouse-absent    0.003452
Married-AF-spouse        0.000600
Name: marital-status, dtype: float64

In [116]:
data[(data['sex'] == 'Male') &
     (data['marital-status'].isin(['Never-married', 
                                   'Separated', 'Divorced','Widowed']))]['salary'].value_counts(normalize=True)

<=50K    0.915505
>50K     0.084495
Name: salary, dtype: float64

In [106]:
data[(data['sex'] == 'Male') &
     (data['marital-status'].isin(['Never-married', 
                                   'Separated', 'Divorced']))]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
30,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
31,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
32,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
35,48,Private,242406,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Puerto-Rico,<=50K
36,21,Private,197200,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
44,25,Private,289980,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,35,United-States,<=50K
49,29,Private,271466,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,United-States,<=50K
53,50,Federal-gov,251585,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,>50K
54,47,Self-emp-inc,109832,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,60,United-States,<=50K
64,29,Private,105598,Some-college,10,Divorced,Tech-support,Not-in-family,White,Male,0,0,58,United-States,<=50K
69,25,?,200681,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
70,19,Private,101509,Some-college,10,Never-married,Prof-specialty,Own-child,White,Male,0,0,32,United-States,<=50K
73,23,Private,211678,Some-college,10,Never-married,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,<=50K
75,27,Private,213921,HS-grad,9,Never-married,Other-service,Own-child,White,Male,0,0,40,Mexico,<=50K
80,18,Private,446839,HS-grad,9,Never-married,Sales,Not-in-family,White,Male,0,0,30,United-States,<=50K
88,30,Private,54334,9th,5,Never-married,Sales,Not-in-family,White,Male,0,0,40,United-States,<=50K
95,29,Local-gov,115585,Some-college,10,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,50,United-States,<=50K
99,32,Federal-gov,249409,HS-grad,9,Never-married,Other-service,Own-child,Black,Male,0,0,40,United-States,<=50K
104,29,Private,103432,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
107,30,Private,194901,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K
110,24,Private,432376,Bachelors,13,Never-married,Sales,Other-relative,White,Male,0,0,40,United-States,<=50K
119,22,Private,102632,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,0,0,41,United-States,<=50K
122,30,Private,77143,Bachelors,13,Never-married,Exec-managerial,Own-child,Black,Male,0,0,40,Germany,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32412,61,Private,149620,Some-college,10,Divorced,Other-service,Not-in-family,Black,Male,0,0,40,United-States,<=50K
32426,20,?,203992,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
32432,36,Private,208068,Preschool,1,Divorced,Other-service,Not-in-family,Other,Male,0,0,72,Mexico,<=50K
32437,19,Private,60890,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,0,0,49,United-States,<=50K
32439,23,Private,190273,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
32442,25,Private,390657,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,<=50K
32447,17,Private,117798,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,20,United-States,<=50K
32468,39,Self-emp-not-inc,193689,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,65,United-States,<=50K
32471,28,Private,185647,Some-college,10,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,50,United-States,<=50K
32475,22,Private,67234,HS-grad,9,Never-married,Handlers-cleaners,Unmarried,White,Male,0,0,45,United-States,<=50K
32477,49,?,114648,12th,8,Divorced,?,Other-relative,Black,Male,0,0,40,United-States,<=50K
32478,21,Private,182117,Assoc-acdm,12,Never-married,Other-service,Own-child,White,Male,0,0,40,United-States,<=50K
32488,32,Private,164190,Some-college,10,Never-married,Exec-managerial,Own-child,White,Male,0,0,40,United-States,<=50K
32490,60,?,134152,9th,5,Divorced,?,Not-in-family,Black,Male,0,0,35,United-States,<=50K
32492,42,Self-emp-not-inc,217597,HS-grad,9,Divorced,Sales,Own-child,White,Male,0,0,50,?,<=50K
32494,82,?,403910,HS-grad,9,Never-married,?,Not-in-family,White,Male,0,0,3,United-States,<=50K
32495,26,Private,179010,Some-college,10,Never-married,Craft-repair,Not-in-family,White,Male,0,0,65,United-States,<=50K
32496,18,Private,436163,11th,7,Never-married,Prof-specialty,Own-child,White,Male,0,0,20,United-States,<=50K
32499,25,Private,403788,HS-grad,9,Never-married,Craft-repair,Other-relative,Black,Male,0,0,40,United-States,<=50K
32500,34,Private,60567,11th,7,Divorced,Transport-moving,Unmarried,White,Male,0,880,60,United-States,<=50K
32505,33,Private,182401,10th,6,Never-married,Adm-clerical,Not-in-family,Black,Male,0,0,40,United-States,<=50K
32512,20,Private,270436,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
32523,30,Private,77266,HS-grad,9,Divorced,Transport-moving,Not-in-family,White,Male,0,0,55,United-States,<=50K
32527,22,Private,203715,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [141]:
max_load = data['hours-per-week'].max()
print(max_load)
print(data[data['hours-per-week']==max_load].shape[0])
round(data[data['hours-per-week']==max_load]['salary'].value_counts(normalize=True),2)

99
85

<=50K    0.71
>50K     0.29
Name: salary, dtype: float64

In [153]:
japaneeze = data[data['native-country']=='Japan']
japaneeze.groupby('salary')['hours-per-week'].mean()
print(round(japaneeze[japaneeze['salary']=='>50K']['hours-per-week'].mean()))
print(round(japaneeze[japaneeze['salary']=='<=50K']['hours-per-week'].mean()))

48.0
41.0

In [157]:
japaneeze.groupby(['salary',])['hours-per-week'].mean()

salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64

In [161]:
for (nat,sal),sub_df in data.groupby(['native-country','salary']):
    print(nat,sal,sub_df['hours-per-week'].mean())

? <=50K 40.16475972540046
? >50K 45.54794520547945
Cambodia <=50K 41.416666666666664
Cambodia >50K 40.0
Canada <=50K 37.91463414634146
Canada >50K 45.64102564102564
China <=50K 37.38181818181818
China >50K 38.9
Columbia <=50K 38.68421052631579
Columbia >50K 50.0
Cuba <=50K 37.98571428571429
Cuba >50K 42.44
Dominican-Republic <=50K 42.338235294117645
Dominican-Republic >50K 47.0
Ecuador <=50K 38.041666666666664
Ecuador >50K 48.75
El-Salvador <=50K 36.03092783505155
El-Salvador >50K 45.0
England <=50K 40.483333333333334
England >50K 44.53333333333333
France <=50K 41.05882352941177
France >50K 50.75
Germany <=50K 39.13978494623656
Germany >50K 44.97727272727273
Greece <=50K 41.80952380952381
Greece >50K 50.625
Guatemala <=50K 39.36065573770492
Guatemala >50K 36.666666666666664
Haiti <=50K 36.325
Haiti >50K 42.75
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.333333333333336
Honduras >50K 60.0
Hong <=50K 39.142857142857146
Hong >50K 45.0
Hungary <=50K 31.3
Hungary >50K 50.0
India <=50K 38.233333333333334
India >50K 46.475
Iran <=50K 41.44
Iran >50K 47.5
Ireland <=50K 40.94736842105263
Ireland >50K 48.0
Italy <=50K 39.625
Italy >50K 45.4
Jamaica <=50K 38.23943661971831
Jamaica >50K 41.1
Japan <=50K 41.0
Japan >50K 47.958333333333336
Laos <=50K 40.375
Laos >50K 40.0
Mexico <=50K 40.00327868852459
Mexico >50K 46.57575757575758
Nicaragua <=50K 36.09375
Nicaragua >50K 37.5
Outlying-US(Guam-USVI-etc) <=50K 41.857142857142854
Peru <=50K 35.06896551724138
Peru >50K 40.0
Philippines <=50K 38.065693430656935
Philippines >50K 43.032786885245905
Poland <=50K 38.166666666666664
Poland >50K 39.0
Portugal <=50K 41.93939393939394
Portugal >50K 41.5
Puerto-Rico <=50K 38.470588235294116
Puerto-Rico >50K 39.416666666666664
Scotland <=50K 39.44444444444444
Scotland >50K 46.666666666666664
South <=50K 40.15625
South >50K 51.4375
Taiwan <=50K 33.774193548387096
Taiwan >50K 46.8
Thailand <=50K 42.86666666666667
Thailand >50K 58.333333333333336
Trinadad&Tobago <=50K 37.05882352941177
Trinadad&Tobago >50K 40.0
United-States <=50K 38.79912723305605
United-States >50K 45.50536884674383
Vietnam <=50K 37.193548387096776
Vietnam >50K 39.2
Yugoslavia <=50K 41.6
Yugoslavia >50K 49.5

In [180]:
pd.crosstab(data['native-country'],data['salary'],values=data['hours-per-week'],aggfunc=np.mean).T

native-country,?,Cambodia,Canada,China,Columbia,Cuba,Dominican-Republic,Ecuador,El-Salvador,England,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
salary,,,,,,,,,,,,,,,,,,,,,
<=50K,40.164760,41.416667,37.914634,37.381818,38.684211,37.985714,42.338235,38.041667,36.030928,40.483333,...,41.939394,38.470588,39.444444,40.15625,33.774194,42.866667,37.058824,38.799127,37.193548,41.6
>50K,45.547945,40.000000,45.641026,38.900000,50.000000,42.440000,47.000000,48.750000,45.000000,44.533333,...,41.500000,39.416667,46.666667,51.43750,46.800000,58.333333,40.000000,45.505369,39.200000,49.5

In [175]:
data.head(1)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K

In [190]:
data.size

488415